# macOS
.DS_Store

# JetBrains IDE
.idea/

# Node.js / Next.js
node_modules/
.next/
out/
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# TypeScript
tsconfig.tsbuildinfo

# Next.js generated
next-env.d.ts

# Misc
*.pem
.vercel

# Cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/

# Claude
CLAUDE.md
docs/
